<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User Profile-->
        <div class="user-profile">
            <div class="user-pro-body">
                <div><img src="../../../assets/images/users/2.jpg" alt="user-img" class="img-circle"></div>
                <div class="dropdown">
                    <a class="dropdown-toggle u-dropdown link hide-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Steave Gection <span class="caret"></span></a>
                    <div class="dropdown-menu animated flipInY">
                        <!-- text-->
                        <a routerLink="/settings" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                        <!-- text-->
                        <div class="dropdown-divider"></div>
                        <!-- text-->
                        <a (click)="logout()" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                        <!-- text-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap" jhiTranslate="global.menu.account.crypto-sidebar">--- Crypto</li>
                <li *jhiHasAnyAuthority="'ROLE_USER'">
                    <a class="waves-effect waves-dark" routerLink="wallet" routerLinkActive="active" aria-expanded="false">
                        <i class="far fa-credit-card"></i>
                        <span jhiTranslate="global.menu.entities.wallet" class="hide-menu">Wallets</span>
                    </a>
                </li>
                <li class="nav-small-cap" jhiTranslate="global.menu.account.merchants-sidebar">--- Merchants</li>
                <li *jhiHasAnyAuthority="'ROLE_USER'">
                    <a class="waves-effect waves-dark" routerLink="business-app" routerLinkActive="active" aria-expanded="false">
                        <i class="far fa-circle text-success"></i>
                        <span jhiTranslate="global.menu.entities.businessApp" class="hide-menu">Business</span>
                    </a>
                </li>
                <li *jhiHasAnyAuthority="'ROLE_USER'">
                    <a class="waves-effect waves-dark" routerLink="product-app" routerLinkActive="active" aria-expanded="false">
                        <i class="far fa-circle text-success"></i>
                        <span jhiTranslate="global.menu.entities.productApp" class="hide-menu">Products</span>
                    </a>
                </li>
                <li *jhiHasAnyAuthority="'ROLE_USER'">
                    <a class="waves-effect waves-dark" (click)="logout()" aria-expanded="false">
                        <i class="far fa-circle text-success"></i>
                        <span class="hide-menu" jhiTranslate="global.menu.account.logout">Sign out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
