<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor" jhiTranslate="prestigeApp.business.home.createOrEditLabel">Create or edit a Business</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home" jhiTranslate="global.menu.home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/business-app" jhiTranslate="prestigeApp.business.home.title">Business</a></li>
                        <li class="breadcrumb-item active" jhiTranslate="prestigeApp.business.home.createOrEditLabel">Create or edit a Business</li>
                    </ol>
                </div>
            </div>
            <jhi-alert></jhi-alert>
            <br/>
        </div>

        <section id="wrapper">
            <div class="new-wallet">
                <div class="login-box card">
                    <div class="card-body">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <div *ngIf="business">
                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="name" id="field_name" type="text" required placeholder="{{'prestigeApp.business.name' | translate}}" [(ngModel)]="business.name">
                                            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                                <small class="form-text text-danger"
                                                       [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="description" id="field_description" type="text" placeholder="{{'prestigeApp.business.description' | translate}}" [(ngModel)]="business.description">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="prestigeApp.business.logo" for="field_logo">Logo</label>
                                    <div>
                                        <img [src]="'data:' + business.logoContentType + ';base64,' + business.logo" style="max-height: 100px;" *ngIf="business.logo" alt="business image"/>
                                        <div *ngIf="business.logo" class="form-text text-danger clearfix">
                                            <span class="pull-left">{{business.logoContentType}}, {{byteSize(business.logo)}}</span>
                                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                        <input type="file" id="file_logo" (change)="setFileData($event, business, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                                    </div>
                                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                                           [(ngModel)]="business.logo" />
                                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                                           [(ngModel)]="business.logoContentType" />
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="street1" id="field_street1" type="text" placeholder="{{'prestigeApp.business.street1' | translate}}" [(ngModel)]="business.street1">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="street2" id="field_street2" type="text" placeholder="{{'prestigeApp.business.street2' | translate}}" [(ngModel)]="business.street2">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="zipcode" id="field_zipcode" type="text" placeholder="{{'prestigeApp.business.zipcode' | translate}}" [(ngModel)]="business.zipcode">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="city" id="field_city" type="text" placeholder="{{'prestigeApp.business.city' | translate}}" [(ngModel)]="business.city">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="state" id="field_state" type="text" placeholder="{{'prestigeApp.business.state' | translate}}" [(ngModel)]="business.state">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="country" id="field_country" type="text" placeholder="{{'prestigeApp.business.country' | translate}}" [(ngModel)]="business.country">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success waves-effect waves-light m-r-10">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                                <button type="button" id="cancel-save" class="btn btn-inverse waves-effect waves-light"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
