<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor" jhiTranslate="prestigeApp.business.view">View</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home" jhiTranslate="global.menu.home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/business-app" jhiTranslate="prestigeApp.business.home.title">Business</a></li>
                        <li class="breadcrumb-item active" jhiTranslate="prestigeApp.business.view">View</li>
                    </ol>
                </div>
            </div>
            <jhi-alert></jhi-alert>
            <br/>
        </div>

        <section id="wrapper">
            <div class="import-wallet">
                <div class="login-box card">
                    <div class="card-body">
                        <form name="viewForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group">
                                    <label class="bold" jhiTranslate="prestigeApp.business.name">Name</label>
                                    <label class="block">{{business.name}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" jhiTranslate="prestigeApp.business.description">Description</label>
                                    <label class="block">{{business.description}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" jhiTranslate="prestigeApp.business.logo">Logo</label>
                                    <div *ngIf="business.logo">
                                        <a (click)="openFile(business.logoContentType, business.logo)">
                                            <img [src]="'data:' + business.logoContentType + ';base64,' + business.logo" style="max-width: 100%;" alt="business image"/>
                                        </a>
                                        {{business.logoContentType}}, {{byteSize(business.logo)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="bold" jhiTranslate="prestigeApp.business.street1">Street 1</label>
                                    <label class="block">{{business.street1}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" jhiTranslate="prestigeApp.business.street2">Street 2</label>
                                    <label class="block">{{business.street2}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" jhiTranslate="prestigeApp.business.zipcode">Zipcode</label>
                                    <label class="block">{{business.zipcode}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" jhiTranslate="prestigeApp.business.city">City</label>
                                    <label class="block">{{business.city}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" jhiTranslate="prestigeApp.business.state">State</label>
                                    <label class="block">{{business.state}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" jhiTranslate="prestigeApp.business.country">Country</label>
                                    <label class="block">{{business.country}}</label>
                                </div>
                            </div>
                            <div>
                                <button type="button"
                                        (click)="previousState()"
                                        class="btn btn-inverse waves-effect waves-light">
                                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
