<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="currency">
            <h2><span jhiTranslate="prestigeApp.currency.detail.title">Currency</span> {{currency.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestigeApp.currency.name">Name</span></dt>
                <dd>
                    <span>{{currency.name}}</span>
                </dd>
                <dt><span jhiTranslate="prestigeApp.currency.symbol">Symbol</span></dt>
                <dd>
                    <span>{{currency.symbol}}</span>
                </dd>
                <dt><span jhiTranslate="prestigeApp.currency.hash">Hash</span></dt>
                <dd>
                    <span>{{currency.hash}}</span>
                </dd>
                <dt><span jhiTranslate="prestigeApp.currency.blockchain">Blockchain</span></dt>
                <dd>
                    <div *ngIf="currency.blockchainId">
                        <a [routerLink]="['/blockchain-app', currency.blockchainId, 'view']">{{currency.blockchainId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/currency-app', currency.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
