<div>
    <h2 id="page-heading">
        <span jhiTranslate="prestigeApp.charge.home.title">Charges</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-charge-app" [routerLink]="['/charge-app/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="prestigeApp.charge.home.createLabel">
            Create new Charge
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="charges">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="prestigeApp.charge.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transaction"><span jhiTranslate="prestigeApp.charge.transaction">Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="prestigeApp.charge.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="addressFrom"><span jhiTranslate="prestigeApp.charge.addressFrom">Address From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="addressTo"><span jhiTranslate="prestigeApp.charge.addressTo">Address To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="completed"><span jhiTranslate="prestigeApp.charge.completed">Completed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="blockchainTx"><span jhiTranslate="prestigeApp.charge.blockchainTx">Blockchain Tx</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="metadataId"><span jhiTranslate="prestigeApp.charge.metadata">Metadata</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currencyId"><span jhiTranslate="prestigeApp.charge.currency">Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerId"><span jhiTranslate="prestigeApp.charge.customer">Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let charge of charges ;trackBy: trackId">
                <td><a [routerLink]="['/charge-app', charge.id, 'view' ]">{{charge.id}}</a></td>
                <td>{{charge.amount}}</td>
                <td>{{charge.transaction}}</td>
                <td>{{charge.description}}</td>
                <td>{{charge.addressFrom}}</td>
                <td>{{charge.addressTo}}</td>
                <td>{{charge.completed}}</td>
                <td>{{charge.blockchainTx}}</td>
                <td>
                    <div *ngIf="charge.metadataId">
                        <a [routerLink]="['../metadata-app', charge.metadataId , 'view' ]" >{{charge.metadataId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="charge.currencyId">
                        <a [routerLink]="['../currency-app', charge.currencyId , 'view' ]" >{{charge.currencyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="charge.customerId">
                        <a [routerLink]="['../customer-app', charge.customerId , 'view' ]" >{{charge.customerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/charge-app', charge.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/charge-app', charge.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'charge-app/'+ charge.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="charges && charges.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
