<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor" jhiTranslate="prestigeApp.product.home.createOrEditLabel">Create or edit a Product</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home" jhiTranslate="global.menu.home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/product-app" jhiTranslate="prestigeApp.product.home.title">Product</a></li>
                        <li class="breadcrumb-item active" jhiTranslate="prestigeApp.product.home.createOrEditLabel">Create or edit a Product</li>
                    </ol>
                </div>
            </div>
            <jhi-alert></jhi-alert>
            <br/>
        </div>

        <section id="wrapper">
            <div class="new-product">
                <div class="login-box card">
                    <div class="card-body">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="example-container">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="name" id="field_name" type="text" required placeholder="{{'prestigeApp.product.name' | translate}}" [(ngModel)]="product.name">
                                        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="description" id="field_description" type="text" placeholder="{{'prestigeApp.product.description' | translate}}" [(ngModel)]="product.description">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="value" id="field_value" type="number" placeholder="{{'prestigeApp.product.value' | translate}}" [(ngModel)]="product.value">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <section class="example-section">
                                        <mat-checkbox name="active" id="field_active" class="example-margin" [(ngModel)]="product.active"><span jhiTranslate="prestigeApp.product.active" for="field_active">Active</span></mat-checkbox>
                                    </section>
                                </div>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field>
                                            <mat-label jhiTranslate="prestigeApp.product.attributes" for="field_attributes">Attributes</mat-label>
                                            <textarea name="attributes" id="field_attributes" [(ngModel)]="product.attributes" matInput
                                                      cdkTextareaAutosize
                                                      #autosize="cdkTextareaAutosize"
                                                      cdkAutosizeMinRows="2"
                                                      cdkAutosizeMaxRows="5"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="prestigeApp.product.metadata" for="field_metadata">Metadata</label>
                                    <select class="form-control" id="field_metadata" name="metadata" [(ngModel)]="product.metadataId">
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="metadataOption.id" *ngFor="let metadataOption of metadata; trackBy: trackMetadataById">{{metadataOption.id}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="prestigeApp.product.currency" for="field_currency">Currency</label>
                                    <select class="form-control" id="field_currency" name="currency" [(ngModel)]="product.currencyId">
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.id}}</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success waves-effect waves-light m-r-10">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                                <button type="button" id="cancel-save" class="btn btn-inverse waves-effect waves-light"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
