<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor" jhiTranslate="prestigeApp.product.home.title">Products</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home" jhiTranslate="global.menu.home">Home</a></li>
                        <li class="breadcrumb-item active" jhiTranslate="prestigeApp.product.home.title">Products</li>
                    </ol>
                    <button id="jh-create-entity" class="btn btn-dark d-none d-lg-block m-l-15" [routerLink]="['/product-app/new']" type="button"
                            replaceUrl="true"
                            queryParamsHandling="merge">
                        <span  jhiTranslate="prestigeApp.product.home.createLabel">
            New Product
            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row page-titles-msg">
            <div class="col-md-12">
                <jhi-alert></jhi-alert>
            </div>
        </div>
        <div class="card jh-card">
            <div class="table-responsive" *ngIf="products">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th><span jhiTranslate="prestigeApp.product.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th><span jhiTranslate="prestigeApp.product.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of products ;trackBy: trackId">
                        <td><a [routerLink]="['/product-app', product.id, 'view' ]">{{product.id}}</a></td>
                        <td>{{product.name}}</td>
                        <td>{{product.value}}</td>
                        <td class="text-right">
                            <button type="submit"
                                    [routerLink]="['/product-app', product.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/product-app', product.id, 'edit']"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'product-app/'+ product.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="products && products.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
