<section id="wrapper fm">
    <div class="login-register">
        <div class="login-box card">
            <div class="card-body">
                <h1 class="text-center" jhiTranslate="activate.title">Activation</h1>

                <div class="alert alert-success" *ngIf="success">
                    <span jhiTranslate="activate.messages.success"><strong>Your user account has been activated.</strong> Please </span>
                </div>

                <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error">
                    <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <a routerLink="/signin" class="text-info m-l-5"><b>Sign In</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
