<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="business-app">
                <!-- Logo icon --><b>
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <img src="../../../content/images/favicon.png" alt="homepage" class="dark-logo" />
                <!-- Light Logo icon -->
                <img src="../../../assets/images/favicon.png" alt="homepage" class="light-logo" />
            </b>
                <!--End Logo icon -->
                <!-- Logo text --><span id="text-image-logo">
                <b alt="homepage" routerLink="business-app" class="dark-logo">prestige network</b>
                <!--<b class="light-logo" routerLink="business-app" alt="homepage">prestige network</b>-->
                <!-- dark Logo text -->

                <!-- <img src="../../../assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
                <!-- Light Logo text -->
                <!-- <img src="../../../assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> -->
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" onclick="minizerSideBar()"><i class="icon-menu"></i></a> </li>
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <select class="custom-select addressSelect col-5 col-sm-5 col-md-8 col-lg-8" id="inlineFormCustomSelect">
                    <option *ngFor="let wallet of wallets ;">
                        {{wallet.address}}
                    </option>
                </select>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
