.addressSelect {
    border: none;
    color: white;
    border-radius: 0;
    height: unset;
}

.balances {
    padding-top: 1.4rem;
    color: white;
}

.navbar-option {
    color: black;
}

.text-none {
    display: none;
}

.navbar-dark .navbar-brand {
    color: #212529;
}
