<form name="newForm" (ngSubmit)="createWallet()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.newpopup.title">Enter the name of the wallet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <input placeholder="{{'entity.newpopup.name' | translate}}" type="text" class="form-control" name="name" id="field_name" required
                   [(ngModel)]="wallet.name" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-inverse waves-effect waves-light" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
