<div>
    <div class="col-12">
        <div *ngIf="wallet">
            <h2>{{wallet.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="50%">
                            <span jhiTranslate="prestigeApp.wallet.address">Address</span>
                        </th>
                        <th width="50%" border-bottom="none">
                            <span jhiTranslate="prestigeApp.wallet.public_key">Public Key</span>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <span>{{wallet.address}}</span>
                        </td>
                        <td>
                            <span>{{wallet.public_key}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th width="50%">
                            <span jhiTranslate="prestigeApp.wallet.public_key_hash">Public Key Hash</span>
                        </th>
                        <th width="50%">
                            <span jhiTranslate="prestigeApp.wallet.user">User</span>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <span>{{wallet.public_key_hash}}</span>
                        </td>
                        <td>
                            {{wallet.user?.login}}
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>

