<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor" jhiTranslate="prestigeApp.wallet.edit">Edit</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home" jhiTranslate="global.menu.home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/wallet" jhiTranslate="prestigeApp.wallet.home.title">Wallets</a></li>
                        <li class="breadcrumb-item active" jhiTranslate="prestigeApp.wallet.edit">Edit</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-titles-msg">
            <div class="col-md-12">
                <jhi-alert></jhi-alert>
            </div>
        </div>

        <section id="wrapper">
            <div class="import-wallet">
                <div class="login-box card">
                    <div class="card-body">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="name" id="field_name" type="text" required placeholder="{{'prestigeApp.wallet.name' | translate}}" [(ngModel)]="wallet.name">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success waves-effect waves-light m-r-10">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                                <button type="button" id="cancel-save" class="btn btn-inverse waves-effect waves-light"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
