<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wallet">
            <h2><span jhiTranslate="prestigeApp.wallet.detail.title">Wallet</span> {{wallet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestigeApp.wallet.address">Address</span></dt>
                <dd>
                    <span>{{wallet.address}}</span>
                </dd>
                <dt><span jhiTranslate="prestigeApp.wallet.name">Name</span></dt>
                <dd>
                    <span>{{wallet.name}}</span>
                </dd>
                <dt><span jhiTranslate="prestigeApp.wallet.private_key">Private Key</span></dt>
                <dd>
                    <span>{{wallet.private_key}}</span>
                </dd>
                <dt><span jhiTranslate="prestigeApp.wallet.public_key">Public Key</span></dt>
                <dd>
                    <span>{{wallet.public_key}}</span>
                </dd>
                <dt><span jhiTranslate="prestigeApp.wallet.public_key_hash">Public Key Hash</span></dt>
                <dd>
                    <span>{{wallet.public_key_hash}}</span>
                </dd>
                <dt><span jhiTranslate="prestigeApp.wallet.wif">Wif</span></dt>
                <dd>
                    <span>{{wallet.wif}}</span>
                </dd>
                <dt><span jhiTranslate="prestigeApp.wallet.user">User</span></dt>
                <dd>
                    {{wallet.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wallet', wallet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
