<div class="row justify-content-center">
    <div class="col-8">
        <form name="importForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-wallet-heading" jhiTranslate="prestigeApp.wallet.home.importLabel">Import a Wallet</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestigeApp.wallet.wif" for="field_wif">Wif</label>
                    <input type="text" class="form-control" name="wif" id="field_wif" required
                        [(ngModel)]="wallet.wif" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="prestigeApp.wallet.import">Import</span>
                </button>
            </div>
        </form>
    </div>
</div>
