<!-- Banner/Slider -->
<div id="header" class="banner banner-full d-flex flex-column banner-jasmine">
    <div class="background-shape"></div>
    <div class="container zi6">
        <div class="banner-content">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <div class="header-txt tab-center mobile-center">
                        <h1 class="animated" data-animate="fadeInUp" data-delay="1.35">Global High Risk Payment Gateway</h1>
                        <p class="lead animated" data-animate="fadeInUp" data-delay="1.45">People who work in these “High Risk” businesses are often discriminated against not due to their work being illegal, but instead their association with certain industries.</p>
                        <br>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .banner-content  -->
    </div><!-- .container  -->
</div>
<!-- End Banner/Slider -->
