<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor" jhiTranslate="global.menu.home">Home</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" jhiTranslate="global.menu.home">Home</li>
                    </ol>
                </div>
            </div>
            <jhi-alert></jhi-alert>
            <br/>
        </div>
        <!-- Banner/Slider -->
        <div id="header" class="banner banner-full d-flex flex-column banner-jasmine">
            <div class="background-shape"></div>
            <div class="container zi6">
                <div class="banner-content">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 text-center">
                            <div class="header-txt tab-center mobile-center">
                                <h1 class="animated" data-animate="fadeInUp" data-delay="1.35">Global High Risk Payment Gateway</h1>
                                <p class="lead animated" data-animate="fadeInUp" data-delay="1.45">People who work in these “High Risk” businesses are often discriminated against not due to their work being illegal, but instead their association with certain industries.</p>
                                <br>
                            </div>
                        </div><!-- .col  -->
                    </div><!-- .row  -->
                </div><!-- .banner-content  -->
            </div><!-- .container  -->
        </div>
        <!-- End Banner/Slider -->
    </div>
</div>

